/* header(navbar) */
/* Define o estilo do cabeçalho */
header {
    width: 100%; /* O cabeçalho ocupa toda a largura da página */
    padding: 20px 2%; /* Espaçamento interno no topo e na base, e margem lateral de 2% */
    position: fixed; /* Fixa o cabeçalho no topo da página durante o scroll */
    top: 0; /* Alinha o cabeçalho ao topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    transition: 1s; /* Transição suave de 1 segundo para mudanças */
    z-index: 1; /* Define a prioridade de sobreposição */
}

/* Define o layout do container dentro do cabeçalho */
header .container {
    display: flex; /* Usa flexbox para organizar o conteúdo */
    flex-direction: row; /* Alinha os itens em uma linha */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

/* Estilo aplicado ao cabeçalho durante o scroll */
header.scrolling {
    padding: 10px 2%; /* Reduz o padding para ocupar menos espaço */
    background-color: #fff; /* Define o fundo branco durante o scroll */
}

/* Links dentro do cabeçalho ao rolar a página */
header.scrolling a {
    color: black; /* Altera a cor dos links para preto */
    font-weight: 500; /* Deixa o texto um pouco mais grosso */
}

/* Estilo específico para o botão de login durante o scroll */
header.scrolling .button-login-item {
    color: white; /* Altera a cor para branco */
}

/* Estilos para o menu secundário */
.s-menu {
    padding: 1rem 0; /* Espaçamento interno acima e abaixo */
    width: 100%; /* Largura total */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Define uma posição relativa para possíveis posicionamentos */
}

/* Lista dentro do menu secundário */
.s-menu ul {
    display: flex; /* Exibe os itens em linha */
    flex-direction: row; /* Organiza os itens horizontalmente */
    margin-right: 100px; /* Margem à direita */
}

/* Barra de navegação principal */
.nav-bar {
    display: flex; /* Usa flexbox para organizar os elementos */
    justify-content: space-between; /* Espaça os elementos entre as extremidades */
}

/* Configurações de logo */
.logo {
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente a logo */
}

/* Configura o tamanho da imagem da logo */
.logo_imagem {
    width: 300px; /* Largura da imagem */
    height: 80px; /* Altura da imagem */
}

/* Lista de navegação */
.nav-list {
    display: flex; /* Exibe os itens em linha */
    align-items: center; /* Centraliza os itens verticalmente */
}

/* Lista dentro da navegação */
.nav-list ul {
    display: flex; /* Exibe itens em linha */
    justify-content: center; /* Centraliza os itens */
    list-style: none; /* Remove os marcadores de lista */
}

/* Espaçamento entre itens de navegação */
.nav-item {
    margin: 0 15px; /* Adiciona espaço lateral entre os itens */
}

/* Estilo dos links de navegação */
.nav-link {
    text-decoration: none; /* Remove a linha sob os links */
    font-size: 1.15rem; /* Aumenta o tamanho do texto */
    color: #fff; /* Define a cor branca */
    font-weight: 500; /* Deixa o texto um pouco mais grosso */
}

/* Botão de login */
.login-button {
    display: flex; /* Usa flexbox para centralizar o botão */
    align-items: center; /* Centraliza o botão verticalmente */
}

/* Estilo do botão de login */
.login-button button {
    border: none; /* Remove a borda */
    background-color: #250C80; /* Cor de fundo azul escuro */
    padding: 15px 25px; /* Espaçamento interno no botão */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Link dentro do botão de login */
.login-button button a {
    text-decoration: none; /* Remove a linha sob o texto */
    color: #fff; /* Define a cor branca para o texto */
    font-weight: 500; /* Define o peso do texto */
    font-size: 1.1rem; /* Define o tamanho do texto */
}

/* Menu móvel, escondido por padrão */
.mobile-menu {
    display: none; /* Esconde o menu móvel */
}

/* Ícone do menu móvel, escondido por padrão */
.mobile-menu-icon {
    display: none; /* Esconde o ícone do menu móvel */
}


/* estilos da foto de background */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(87, 85, 85, 0.5)), url(/saude_site/assets/imagens/main-image-sslab-final.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

/* titulo estatico */
.titulo-animado {
    font-size: 70px;
    font-weight: 500;
    margin: 0 auto;
    color: white;
}

/* classe do titulo animado */
.animated {
    font-size: 70px;
    font-weight: 500;
    color: #250C80;
}
/* remover classe do texto animado */
.animated-disable {
    opacity:0;
}

/* posicionamento do texto e dos botões */
main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 10rem;
    margin-left: 40px;
}
