.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddenY {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(200%);
    transition: all 1s;
}

.hiddenYNeg {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-200%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
    transition: all 1s;
}

.logos {
    display: flex;
}


.tab-btn:nth-child(2) {
    transition-delay: 400ms;
}
.tab-btn:nth-child(3) {
    transition-delay: 800ms;
}

.tab-btn:nth-child(4) {
    transition-delay: 1400ms;
}

.tab-btn:nth-child(5) {
    transition-delay: 1800ms;
}

.tab-btn:nth-child(6) {
    transition-delay: 2000ms;
}

.cards-func :nth-child(2) {
    transition-delay: 400ms;
}

.cards-func :nth-child(3) {
    transition-delay: 800ms;
}

.cards-func :nth-child(4) {
    transition-delay: 1200ms;
}

.tab-btn:nth-child(1):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;

}

.tab-btn:nth-child(2):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;
}

.tab-btn:nth-child(3):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;
}

.tab-btn:nth-child(4):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;
}

.tab-btn:nth-child(5):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;
}

.tab-btn:nth-child(6):hover{
    border-bottom: 2px solid #250C80;
    border-radius: 0%;
    transition: 2ms ease-in-out;
}


.avatar {
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}