.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddenY {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(200%);
    transition: all 1s;
}

.hiddenYNeg {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-200%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
    transition: all 1s;
}

.logos {
    display: flex;
}


.tab-btn:nth-child(2) {
    transition-delay: 400ms;
}
.tab-btn:nth-child(3) {
    transition-delay: 800ms;
}

.tab-btn:nth-child(4) {
    transition-delay: 1400ms;
}

.tab-btn:nth-child(5) {
    transition-delay: 1800ms;
}

.tab-btn:nth-child(6) {
    transition-delay: 2000ms;
}

.cards-func :nth-child(2) {
    transition-delay: 400ms;
}

.cards-func :nth-child(3) {
    transition-delay: 800ms;
}

.cards-func :nth-child(4) {
    transition-delay: 1200ms;
}

.avatar {
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}