
/* header(navbar) */
header {
    width: 100%;
    padding: 20px 2%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header.scrolling {
    padding: 10px 2%;
    background-color: #fff;
}

header.scrolling a {
    color: black;
    font-weight: 500;
}

header.scrolling .button-login-item {
    color: white;
}

.container-func {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.logo_imagem {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    /* margin-left: 40px;
    margin-right: 100px; */
}

.s-menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.s-menu ul {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

/* posicionamento dos links ancoras */
.s-menu__item {
    margin-left: 2rem;
}

/* estilos dos links ancoras */
.s-menu__item a{
    font-weight: 400;
    font-size: 20px;
    transition: .4s;
    color: white;
}

/* hover do links ancoras */
.s-menu__item a:hover{
    font-weight: 500;
    font-size: 21px;
    transition: .4s;
}

/* estilos do botão de login */
.button-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto auto 600px;
    background-color: #250C80;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.button-login-item {
    color: white;
}

/* estilos da foto de background */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(87, 85, 85, 0.5)), url(/saude_site/assets/imagens/main-image-sslab-final.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

/* titulo estatico */
.titulo-animado {
    font-size: 70px;
    font-weight: 500;
    margin: 0 auto;
    color: white;
}

/* classe do titulo animado */
.animated {
    font-size: 70px;
    font-weight: 500;
    color: #250C80;
}
/* remover classe do texto animado */
.animated-disable {
    opacity:0;
}

/* posicionamento do texto e dos botões */
main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 10rem;
    margin-left: 40px;
}

/* botões de saiba mais e consulte valores */

.button-item {
    background-color: white;
    height: 80px;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: .2rem;
    color: white;
    background-color:#250C80 ;
    cursor: pointer;
}


.button-item:hover{
    height: 90px;
    width: 250px;
    transition: .5s;
    font-size: 22px;
    cursor: pointer;
}

.button-item-transparente {
    background-color: white transparent;
    height: 80px;
    width: 200px;
    margin: 0 10px 0 40px;
    color: white;
    border: 2px solid white;
    border-radius: .2rem;
    background: rgba(150,150,150,.50);
    font-size: 18px;
    cursor: pointer;
    transition: .5s; 
}

.button-item-transparente:hover{
    height: 90px;
    width: 250px;
    transition: .5s;
    font-size: 22px;
    cursor: pointer;
}

/* conteudo do main */

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: flex-start;
    align-items: center;
    gap: 20px;
}

.main-title {
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 500;
    color: #250C80;
    padding: 40px;
}

.main-image {
    width: 1228px;
    height: 400px;
    margin: auto;
}

.main-subtitle {
    font-size: 40px;
    font-weight: 400;
    padding: 40px;
    color: #250C80;
}

.main-text {
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 1200px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.content-img {
    margin-top: 40px;
    width: 100%;
    height: 800px;
}

.content {
    display: none;
}

.content.show {
    display: flex;
}

.tab-btn {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 50px;
    /* border: 2px solid #250C80;
    border-radius: 10px; */
    border: none;
    cursor: pointer;
}

/* banner com contato */

.banner {
    /* background-image: linear-gradient(to right, rgb(37, 0, 171) , rgb(243, 243, 243)); */
    content: "";
    background-image: url(/saude_site/assets/imagens/chemist-2815640_1280\ 1.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 200px;
}

.title-banner {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 200px;
    font-weight: 400;
    color: white;
}

.text-banner {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
    color: white;
}

.button-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.button-banner a {
    text-align: center;
    margin: auto;
    background-color: #250C80;
    text-decoration: none;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
}

.button-banner a:hover {
    background-color: #331c8a;
    transition: .5s ease-in-out;
    margin-top: 1px;
}


.icon {
    width: 60px;
    height: 60px;
}

/* cards funcionalidades */
.container-func {
    padding: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.cards-func {
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.card-title {
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 500;
    color: #250C80;
    margin-top: 40px;
}

.card-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #C4C5CE;
}

.cards-item {
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.cards-item:hover {
    width: 210px;
    height: 210px;
    transition: .1s ease-in-out;
    box-shadow: 5px 15px #888888;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.card-text {
    text-align: center;
    padding: 10px;
}

.fa-file-circle-plus,.fa-money-bill,.fa-shield-halved,.fa-network-wired {
    color: #250C80;
}


/* estilos dos cards redes sociais */
.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 65vh;
}

.title-redes {
    text-align: center;
    font-size: 40px;
    color: #250C80;
    font-weight: 500;
}

.text-redes {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.cards-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 200px auto;
    gap: 35px;
}

.cards-redes-item {
    width: 250px;
    height: 250px;
}

.cards-redes-item:hover {
    opacity: 0.7;
    transition: 1s;
    width: 251px;
    height: 251px;
}



/* estilos do roda-pé */
.roda-pe {
    background-color: #250C80;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    padding-top: 40px;
    color: white;
}

.contato {
    margin-left: 400px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titulo {
    margin-bottom: 10px;
}

.numero {
    font-weight: 600;
}

.politica {
    font-weight: 600;
    text-decoration: underline white;
    text-decoration-thickness: .1rem;
    margin-bottom: 30px;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.redes-footer h2{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    margin-bottom: 5px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-brands {
    margin-right: 1rem;
    color: white;
}

.button-footer-item {
    border:3px solid white;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
    color: white;
}

.copyright {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


@media screen and (max-width: 450px) {

    .logo_imagem {
        width: 150px;
        height: 50px;
    }

    .titulo-animado {
        font-size: 40px;
    }
    
    .animated {
        font-size: 40px;
        color: #250C80;
    }

    .home {
        background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(87, 85, 85, 0.5)), url(/saude_site/assets/imagens/mulher\ da\ capa.jpg);
        height: 80vh;
        width: 100vw;
    }


    .button-item {
        height: 50px;
        width: 160px;
        font-size: 12px;
    }
    
    
    .button-item-transparente {
        background-color: white transparent;
        height: 50px;
        width: 160px;
        font-size: 12px;
    }

    .main-content {
        flex-direction: column;
        width:100%;
    }

    .main-title {
        font-size: 20px;
        font-weight: 500;
        color: #250C80;
    }

    .main-image {
        width: 95%;
        height: 100%;
        margin: auto;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .main-text {
        font-size: 15px;
        width: 90%;
    }
  }

  @media screen and (max-width: 1366px) {
    .button-login {
        margin: 0 auto auto 250px;

    }

  }

  @media screen and (max-width: 1024px) {
    
    
    .logo_imagem {
        width: 150px;
        height: 50px;
    }

    
    .s-menu {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        position: relative;
    }
    
    .s-menu ul {
        margin-right: 10px;
    }
    
    /* posicionamento dos links ancoras */
    .s-menu__item {
        margin-left: 1rem;
    }
    
    /* estilos dos links ancoras */
    .s-menu__item a{
        font-weight: 400;
        font-size: 20px;
        transition: .4s;
        color: white;
    }
    
    /* hover do links ancoras */
    .s-menu__item a:hover{
        font-weight: 500;
        font-size: 21px;
        transition: .4s;
    }
    
    /* estilos do botão de login */
    .button-login {
        margin: 0 auto auto 200px;

    }
    
    .button-login-item {
        color: white;
    }

  }